SECRET_KEY=changeme

DEBUG=False

POSTGRES_NAME=changeme
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme

DEFAULT_FROM_EMAIL=changeme_send_mail_address
EMAIL_HOST=changeme_smtp_server
EMAIL_PORT=changeme_smtp_port
EMAIL_HOST_USER=changeme_smtp_account_user
EMAIL_HOST_PASSWORD=changeme_smtp_account_password
EMAIL_SUBJECT_PREFIX=changeme_fablab_prefix
EMAIL_USE_TLS=changeme_should_use_tls

