crispy-bootstrap5
dateparser
debugpy
Django<4
django-analytical
django-classy-tags
django-cms<4
django-colorfield
django-cors-headers
django-crispy-forms
django-db-logger
django-debug-toolbar
django-extensions
django-filer
django-filter
django-mathfilters
stripe
django-mptt
django-oauth-toolkit
django-organizations
django-phonenumber-field[phonenumberslite]
django-q
django-registration
django-sekizai
django-treebeard
django-url-or-relative-url-field
django-webpack-loader
djangocms-admin-style
djangocms-bootstrap4
djangocms-file
djangocms-icon
djangocms-link
djangocms-picture
djangocms-style
djangocms-text-ckeditor
djangocms-video
djangorestframework
djangorestframework-simplejwt
easy_thumbnails
html5lib
packaging
Pillow
psycopg2-binary
dnspython
pytz
six
bcrypt
unittest-xml-reporting
coverage
coverage-badge
Babel
django-htmx
python-dotenv
markdown
uwsgi
