arrow==1.3.0
asgiref==3.8.1
babel==2.17.0
bcrypt==4.3.0
blessed==1.21.0
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
confusable-homoglyphs==3.3.1
coverage==7.8.0
coverage-badge==1.1.2
crispy-bootstrap5==2025.4
cryptography==44.0.2
cssselect2==0.8.0
dateparser==1.2.1
debugpy==1.8.14
Django==4.2.20
django-analytical==3.1.0
django-classy-tags==4.1.0
django-cms==4.1.6
django-colorfield==0.13.0
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-db-logger==0.1.13
django-debug-toolbar==5.1.0
django-entangled==0.6.2
django-extensions==4.1
django-filer==3.3.1
django-filter==25.1
django-formtools==2.5.1
django-htmx==1.23.0
django-js-asset==3.1.2
django-mathfilters==1.0.0
django-mptt==0.17.0
django-oauth-toolkit==3.0.1
django-organizations==2.5.0
django-parler==2.3
django-phonenumber-field==8.1.0
django-picklefield==3.3
django-polymorphic==3.1.0
django-q==1.3.9
django-registration==5.2.1
django-sekizai==4.1.0
django-treebeard==4.7.1
django-url-or-relative-url-field==0.2.0
django-webpack-loader==3.1.1
djangocms-admin-style==3.3.1
djangocms-alias==2.0.2
djangocms-attributes-field==4.0.0
djangocms-file==3.0.1
djangocms-frontend==2.1.2
djangocms-icon==2.1.0
djangocms-link==5.0.1
djangocms-picture==4.1.1
djangocms-style==3.1.0
djangocms-text-ckeditor==5.1.7
djangocms-video==3.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
easy-thumbnails==2.10
html5lib==1.1
idna==3.10
jwcrypto==1.5.6
lxml==5.4.0
Markdown==3.8
oauthlib==3.2.2
packaging==25.0
phonenumberslite==9.0.4
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
redis==3.5.3
regex==2024.11.6
reportlab==4.4.0
requests==2.32.3
setuptools==79.0.1
six==1.17.0
sqlparse==0.5.3
stripe==12.0.1
svglib==1.5.1
tinycss2==1.4.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.13.2
tzlocal==5.3.1
unittest-xml-reporting==3.2.0
urllib3==2.4.0
uWSGI==2.0.29
wcwidth==0.2.13
webencodings==0.5.1