.bg-success {
  background-color: $custom-green-light !important;
  color: $custom-green;
}

.bg-alert {
  background-color: $custom-red-light !important;
  color: $custom-red;
}

.bg-info {
  background-color: $custom-blue-light !important;
  color: $custom-blue;
}

.bg-info-dark {
  background-color: $custom-blue !important;
  color: white;

  &:hover {
    color: white;
  }
}
