.btn {
  @include button-variant($custom-red, $custom-red, white);
}

.btn-mobile-navbar {
  @include button-variant(
    $custom-blue,
    $custom-blue,
    $white,
  );

  font-size: $font-size-sm;
  border-radius: 16px;
}

.btn-text-left {
  text-align: left;
}

.btn-secondary {
  background-color: white;
  color: $custom-red;

  &:hover {
    background-color: $custom-red-light;
    color: $custom-red;
  }
}
