$custom-blue:         #0b1783;
$custom-blue-light:   #ddf9ff;
$custom-red:          #e3005c;
$custom-red-light:    #ffe8e0;
$custom-green:        #00a59f;
$custom-green-light:  #e4f2e5;

@font-face {
  font-family: 'GT Pressura';
  src:
    url('../fonts/GTPressura-Bold.woff2') format("woff2"),
    url('../fonts/GTPressura-Bold.woff') format("woff"),
    url('../fonts/GTPressura-Bold.eot') format("embedded-opentype"),
    url('../fonts/GTPressura-Bold.otf') format("opentype"),
    url('../fonts/GTPressura-Bold.ttf') format("truetype"),
    url('../fonts/GTPressura-Bold.svg') format("svg");
}

// variables
$body-color: $custom-blue;
$blue: $custom-blue;
$red: $custom-red;
$green: $custom-green;
$link-color: $custom-red;
$primary-color:  $custom-red;
$font-family-base: 'GT Pressura', -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$input-color: $custom-blue;
$input-border-color: $custom-blue;
$input-placeholder-color: $custom-blue;

.text-red {
  color: $custom-red;
}
