$custom-blue:         #0b1783;
$custom-blue-light:   #ddf9ff;
$custom-red:          #e3005c;
$custom-red-light:    #ffe8e0;
$custom-green:        #00a59f;
$custom-green-light:  #e4f2e5;

@font-face {
  font-family: 'GT Pressura';
  font-display: 'swap';
  src:
    url('../fonts/GTPressura-Bold.woff2') format("woff2"),
    url('../fonts/GTPressura-Bold.woff') format("woff"),
    url('../fonts/GTPressura-Bold.eot') format("embedded-opentype"),
    url('../fonts/GTPressura-Bold.otf') format("opentype"),
    url('../fonts/GTPressura-Bold.ttf') format("truetype"),
    url('../fonts/GTPressura-Bold.svg') format("svg");
}

// variables
$body-color: $custom-blue;
$blue: $custom-blue;
$red: $custom-red;
$green: $custom-green;
$link-color: $custom-red;
$primary-color:  $custom-blue;
$font-family-base: 'GT Pressura', -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$input-color: $custom-blue;
$input-border-color: $custom-blue;
$input-placeholder-color: $custom-blue;

$tooltip-color: $custom-red;
$tooltip-bg: $custom-red-light;
$tooltip-arrow-color: $custom-red-light;
$tooltip-opacity: 1;

$accordion-border-width: 2px;
$accordion-border-color: $custom-blue;

$card-border-width: 2px;
$card-border-color: $custom-blue;

$img-lg: 140px;
$img-sm: 36px;

$table-striped-bg: $custom-green-light;

$badge-color: inherit;

$font-size-base: 1.2rem;
