.body-form-full-page {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-full-page {
  width: 100%;
  max-width: 330px;
  padding: 15px;
}

$logo-size: 140px;

.form-text {
  display: none;
}

.img-form-logo {
  max-width: $img-lg;
  font-size: $img-lg;
}

// infomaniak newsletter form
.inf-form {
  text-align: center;
}

.inf-input {
  @extend .w-100, .mb-1;

  > input {
    @extend.form-control;
  }
}

.inf-submit {
  @extend .float-end;

  > input {
    @extend .btn;
  }
}
