.img-form-logo {
  max-width: $img-lg;
  font-size: $img-lg;
}

/*  infomaniak newsletter form */
.inf-form {
  text-align: center;
}

.inf-input {
  @extend .w-100, .mb-1;

  > input {
    @extend.form-control;
  }
}

.inf-submit {
  @extend .float-end;

  > input {
    @extend .btn;
  }
}

.text-muted {
  display: none;
}
