@import url("custom.scss");
@import url('vuetify/dist/vuetify.min.css');
@import "bootstrap/scss/bootstrap.scss";
@import url('bootstrap-icons/font/bootstrap-icons.css');
@import url("alerts.scss");
@import url("animations.scss");
@import url("buttons.scss");
@import url("cards.scss");
@import url("errors.scss");
@import url("dropdown.scss");
@import url("forms.scss");
@import url("icons.scss");
@import url("images.scss");
@import url("navbar.scss");
@import url("pagination.scss");
@import url("type.scss");
@import url("vue.scss");


a {
  text-decoration: none;
}

.cms-messages {
  display: none !important;
}

td > p {
  margin: 0;
}
