@import "custom.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "alerts.scss";
@import "type.scss";
@import "navbar.scss";
@import "buttons.scss";
@import "icons.scss";
@import "navbar.scss";
@import "forms.scss";
@import "type.scss";

footer {
  background-color: $custom-green-light;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

.text-red {
  color: $custom-red;
}

.text-blue {
  color: $custom-blue;
}

.cms-messages {
  display: none !important;
}
