//navbar header
.navbar-header {
  background-color: $custom-red-light;
}

.nav-link-header {
  &:hover {
    background: transparent;
    border-radius: 10px;
    height: 0;
    box-shadow: 0 40px 0 -5px;
  }
}

// mobile navbar
.navbar-mobile {
  margin-left: auto;
  margin-right: auto;

  > a:first-child {
    padding-left: 24px;
  }

  > a:last-child {
    padding-right: 24px;
  }

  > .btn-lg {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.btn-mobile-navbar {
  font-size: $font-size-base*0.7 !important;
  width: 80px;

  i {
    font-size: $font-size-base*1.3;
  }
}

.btn-group > .btn.active {
  background-color: $custom-blue !important;
  color: $custom-red-light !important;
}

.modal-dialog-mobile {
  max-width: 300px;
  margin: auto;
}

.navbar-mobile-title {
  margin: auto;
}
