h2 {
  @extend .text-uppercase;
}

.text-red {
  color: $custom-red;
}

.text-blue {
  color: $custom-blue !important;
}

.text-green {
  color: $custom-green;
}

.text-bg-success-light {
  background-color: $custom-green-light !important;
  color: $custom-green;
}

.text-bg-info {
  background-color: $custom-blue !important;
  color: white !important;
}

.text-bg-info-light {
  background-color: $custom-blue-light !important;
  color: $custom-blue !important;
}

.text-bg-danger-light {
  background-color: $custom-red-light !important;
  color: $custom-red !important;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container::before {
  content: " ";
  display: block;
  height: 90%;
  width: 105%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: $custom-green-light;
  transform: rotate(-2deg);
  top: 2px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
  z-index: -1;
}

.fs-title {
  @include font-size(6rem);
}

.list-unstyled li {
  list-style-type: none;
  padding-left: 25px;
  padding-bottom: 16px;
}

.list-unstyled li svg {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: -25px;
  transform: translate(0, -3px);
}
