{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- No header -->
{% block navbar-header %} {% endblock navbar-header %}

<!-- No mobile menu -->
{% block menu-mobile %} {% endblock menu-mobile %}

<!-- No footer -->
{% block footer %} {% endblock footer %}

{% block html_class %} h-100 {% endblock %}
{% block body_class %} body-form-full-page{% endblock %}

<!-- Content -->
{% block content %}
<div class="form-full-page mx-auto">
    {% block content_form_img %}
        <img class="mb-5 img-form-logo mx-auto d-block" src="{% static 'src/img/logo-FL-red.svg' %}" alt="">
    {% endblock content_form_img %}
    {{ form|as_crispy_errors }}
    {% block content_form %} {% endblock content_form %}
</div>
{% endblock %}