{% extends "forms/base_forms.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block content_form_img %}
    <img src="{{event_slot.event.img.url}}" class="img img-fluid rounded" alt="{{event_slot.event.title}}">
{% endblock %}

{% block content_form %}
<h3>{{event_slot.event.title}}</h3>
{% include 'fabcal/event_info.html' %}
<form action="{% url 'fabcal:event-register' object.pk %}" method="POST">
    {% csrf_token %}
    {% include "forms/base_submit_button.html" with submit_btn="Unregister" %}
</form>

{% endblock content_form %}