{% extends "forms/base_forms.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block content_form_img %}
<img src="{{object.event.img.url}}" class="img img-fluid rounded" alt="{{object.event.title}}">
{% endblock %}

{% block content_form %}
<h3>{{object.event.title}}</h3>
{% include 'fabcal/event_info.html' %}

<form action="
    {% if 'unregister' in view.request.path %}
        {% url 'fabcal:eventslot-unregister' object.pk %}
    {% else %}
        {% url 'fabcal:eventslot-register' object.pk %}{%endif%}"
    method="POST">
    {% csrf_token %}
    {% include 'fabcal/(un)registration_button.html' %}
</form>

{% endblock content_form %}