{% load i18n %}

<div class="row">

    <div class="col">
        {% include 'fabcal/event_info_datetime.html' %}
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-2 text-end pe-0">
                <h4><i class="bi bi-wallet2"></i></h4>
            </div>
            <div class="col-10 ">
                <h4>{% trans "Price" %}</h4>
                <p>{{price}}</p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-2 text-end pe-0">
                <h4><i class="bi bi-info-circle"></i></h4>
            </div>
            <div class="col-10 ">
                <h4>{% trans "Registration" %}</h4>
                {% if has_registration %}
                    <p>{% trans 'Registration mandatory' %}<br>
                    {% if available_registration > 0  %}
                        <small  class"fs-6">{% blocktrans %} still {{available_registration}} places available ! {% endblocktrans %}</small>
                    {% elif available_registration == 0 %}
                        <small class="text-red">{% trans "sold out" %}</small>
                    {% endif %}
                    </p>
                {% else %}
                    <p>{% trans 'No registration required for this event' %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-2 text-end pe-0">
                <h4><i class="bi bi-geo-alt"></i></h4>
            </div>
            <div class="col-10 ">
                <h4>{% trans "Location" %}</h4>
                <p>{{location}}</p>
            </div>
        </div>
    </div>
    
</div>