{% load i18n %}
<div class="col col-sm-12 col-md-6 col-xl-4 grid-item">
    <div class="card card-border-red">
        <img src="/media/{{event_slot.event.photo}}" class="card-img-top" alt="{{event_slot.event.title}}">
        <div class="card-body">
            <h3 class="card-title"> {{event_slot.event.title}}</h3>
            <p class="card-text"> {{event_slot.event.lead}} </p>
            {% include 'fabcal/event_info_datetime.html' with format_info_datetime=event_slot.format_info_datetime%}
            <div class="text-center">
                <a href="{% url 'fabcal:eventslot-detail' event_slot.pk %}" type="button" class="btn btn-outline-primary">
                    <i class="bi bi-info-circle pe-2"></i> {% trans "More informations" %}
                </a>
            </div>
        </div>
    </div>
</div>