{% extends 'base.html' %}
{% load i18n interlab_tags %}

{% block content %}
{% if request.user|has_group:"superuser" %}
<div class="row">
    <div class="col text-end">
        <a href="{% url 'fabcal:eventslot-delete' object.pk %}"
            class="btn btn-outline-primary pe-2 {%if object.regristration.all%} disabled {%endif%}">
            <i class="bi bi-trash3 pe-1"></i> {% trans "Delete" %}
        </a>
        <a href="{% url 'fabcal:eventslot-update' object.pk %}" class="btn btn-outline-primary">
            <i class="bi bi-pencil pe-1"></i> {% trans "Edit" %}
        </a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <h1>{{object.event.title}}</h1>
        <h4>{{object.event.lead}}</h4>
        <div class="d-none d-md-block">
            <p>{{object.event.desc}}</p>
            {% include 'fabcal/event_registration_list.html' %}
        </div>
    </div>

    <div class="col-md-6">
        <img src="/media/{{object.event.photo}}" class="card-img-top" alt="{{object.event.title}}">
        <div class="d-md-none">
            {% include 'fabcal/event_info.html' %}
            {% include 'fabcal/event_registration_button.html' %}
            <p class="mt-5">{{object.event.desc}}</p>
            {% include 'fabcal/event_registration_list.html' %}
        </div>

        <div class="d-none d-md-block">
            {% include 'fabcal/event_registration_button.html' %}
            {% include 'fabcal/event_info.html' %}

        </div>
    </div>
</div>

{% endblock content %}