{% load i18n fabcal_tags %}

<div class="row">

    <div class="col-12 {% if "detail" in view.template_name_suffix %}col-sm-6{% endif %}">
        {% include 'fabcal/event_info_datetime.html' with event_slot=object %}
    </div>

    {% if object|is_onsite %}
    <div class="col-12 {% if "detail" in view.template_name_suffix %}col-sm-6{% endif %}">
        <div class="row">
            <div class="col-2 text-end pe-0">
                <h4><i class="bi bi-wallet2"></i></h4>
            </div>
            <div class="col-10 ">
                <h4>{% trans "Price" %}</h4>
                <p>{{object.price}}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-12 {% if "detail" in view.template_name_suffix %}col-sm-6{% endif %}">
        <div class="row">
            <div class="col-2 text-end pe-0">
                <h4><i class="bi bi-geo-alt"></i></h4>
            </div>
            <div class="col-10 ">
                <h4>{% trans "Location" %}</h4>
                <p>{{object.event.location}}</p>
            </div>
        </div>
    </div>

</div>