{% load i18n interlab_tags %}

{% if request.user|has_group:"superuser" %}
<hr>
<div class="text-red">
    <h1>{%trans "Superuser area" %}</h1>
    <h3>{%trans "Registration" %}</h3>
    {{event_slot.registrations.count}} {% trans "peoples registered for the event" %}
    {% for registration in event_slot.registrations.all %}
    <div class="row">
        <div class="col-2">
            <a href="{% url 'superuser-profile-edit' registration.pk %}">
                <div class="text-center">
                    {%include 'accounts/avatar.html'%}
                </div>
            </a>
        </div>
        <div class="col-10">
            {{registration.first_name}} {{registration.last_name}}<br>
            <small>
                {{registration.email}}
                {% if registration.registration %} <br>
                {{ registration.registration_category.title }} {% trans "valid until" %}
                {{ registration.end|date:'d.m.Y' }}
                </br>
                {% endif %}
            </small>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}