{% load i18n interlab_tags %}

{% if request.user|has_group:"superuser" %}
<hr>
<div class="text-red">
    <h1>{%trans "Superuser area" %}</h1>
    <h3>{%trans "Registration" %}</h3>
    {{registrations.count}} {% trans "peoples registered for the event" %}
    {% for registration in registrations %}
    <div class="row">
        <div class="col-2">
            {% if registration.first_name %}
            <a href="{% url 'superuser-profile-edit' registration.pk %}">
                <div class="text-center">
                    <img src="https://eu.ui-avatars.com/api/?rounded=true&name={{registration.first_name}}+{{registration.last_name}}&color=fff&background=e3005c"
                        class="img w-50" alt="avatar"> </br>
                    {% else %}
                    <img src="https://eu.ui-avatars.com/api/?rounded=true&name={{registration.username}}&color=fff&background=e3005c"
                        class="img w-50" alt="avatar"> </br>
                    {% endif %}
                </div>
            </a>
        </div>
        <div class="col">
            {{registration.first_name}} {{registration.last_name}}<br>
            <small>
                {{registration.email}}
                {% if registration.registration %} <br>
                {{ registration.registration_category.title }} {% trans "valid until" %}
                {{ registration.end|date:'d.m.Y' }}
                </br>
                {% endif %}
            </small>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}