{% extends "forms/base_forms.html" %}
{% load i18n crispy_forms_tags training_extras %}

{% block header %}
{{ form.media }}
{% endblock header %}

{% block content_form_img %}
<img class="card-img pb-4" src="{{object.machine.photo.url}}"  alt="{{machine}}">
{% endblock %}

{% block content_form %}
<div class="text-center">
    <h3> {% trans "Are you sure you want to cancel your reservation" %} </h3>

    <p>{{object.start|date:"l j F Y"|capfirst}} </br>
        {{object.start|date:"H:i"}} - {{object.end|date:"H:i"}} <br>
        <span class='badge align-middle' style="color:{{object.opening_slot.opening.color}};background-color:{{object.opening_slot.opening.background_color}}">
            {{object.opening_slot.opening.title}} - {{object.opening_slot.user.first_name}}
        </span >
    </p>
</div>

<form action="." method="POST">
    {% csrf_token %}
    {% include 'forms/base_submit_button.html' with submit_btn=_("Yes, I'm sure")%}
</form>

{% endblock content_form %}