{% load i18n %}

<div id="timepicker">
    <v-app id="inspire">
        <form action="." method="POST">
            {% csrf_token %}

            {{ form.name_of_field }}

            <div id="form.opening.id_for_label">
                <v-select v-model='select' label="{% trans "Opening" %}" name="{{form.opening.name}}" :items="items" outlined append-icon="bi bi-chevron-down">
                    <i class="bi bi-caret-down-fill"></i>
                    </select>
            </div>

            <v-dialog ref="date" v-model="modal" :return-value.sync="date" persistent width="290px">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field label='{% trans "Date" %} *' readonly v-bind="attrs" v-on="on" outlined
                        name="date" :value="formatDate"></v-text-field>
                </template>
                <v-date-picker v-model="date" scrollable color="#0b1783" first-day-of-week=1>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="modal = false">
                        Cancel
                    </v-btn>
                    <v-btn text color="primary" @click="$refs.date.save(date)">
                        OK
                    </v-btn>
                </v-date-picker>
            </v-dialog>

            <v-dialog ref="start" v-model="modal2" :return-value.sync="start" persistent width="290px">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field class="text-blue" :value="formatStartTime" label='{% trans "Start" %} *' readonly v-bind="attrs"
                        v-on="on" outlined name="start">
                    </v-text-field>
                </template>
                <v-time-picker v-if="modal2" v-model="start" full-width format="24hr" :max="end" color="#0b1783">
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="modal2 = false">
                        Cancel
                    </v-btn>
                    <v-btn text color="primary" @click="$refs.start.save(start)">
                        OK
                    </v-btn>
                </v-time-picker>
            </v-dialog>


            <v-dialog ref="end" v-model="modal3" :return-value.sync="end" persistent width="290px">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field class="text-blue" :value="formatEndTime" label='{% trans "End" %} *' readonly v-bind="attrs"
                        v-on="on" outlined name="end">
                    </v-text-field>
                </template>
                <v-time-picker v-if="modal3" v-model="end" full-width format="24hr" :min="start" color="#0b1783">
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="modal3 = false">
                        Cancel
                    </v-btn>
                    <v-btn text color="primary" @click="$refs.end.save(end)">
                        OK
                    </v-btn>
                </v-time-picker>
            </v-dialog>

            <v-text-field label={% trans "Comment" %} name="{{form.comment.name}}" outlined></v-text-field>

            <div class="row text-center align-items-center my-5">
                <div class="col">
                    <a href="{{request.META.HTTP_REFERER}}">{% trans 'Whoops, no !' %} </a>
                </div>
                <div class="col">
                    <input class="btn my-4 mx-auto d-block" type="submit" value="{% trans submit_btn %}">
                </div>
        </form>
    </v-app>
</div>