{% extends "forms/base_forms.html" %}
{% load i18n crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block content_form_img %}
<img src="{{event_slot.event.photo.url}}" class="img img-fluid rounded pb-4" alt="{{event_slot.event.title}}">
{% endblock %}

{% block content_form %}
<h3>{{event_slot.event.title}}</h3>
{% include 'fabcal/event_info.html' with object=event_slot %}

<form action="."
    method="POST">
    {% csrf_token %}
        <div class="mt-3">
            <div class="form-group row">
                <label for="{{ form.number_of_attendees.id_for_label }}" class="col-7 col-form-label my-auto">{{ form.number_of_attendees.label }}</label>
                <div class="col-5">
                    {{form.number_of_attendees}}
                </div>
                <div class="col-12">{{ form.number_of_attendees.errors }}</div>
            </div>
        </div>
    {% include 'fabcal/(un)registration_button.html' %}
</form>

{% endblock content_form %}