{% extends "forms/base_forms.html" %}
{% load i18n training_extras %}

{% block content_form_img %}
    <img class="img img-fluid rounded" src="{{training.photo.url}}">
{% endblock %}

{% block content_form %}
<div class="text-center">
    <h3>{{training.title}}</h3>

    <p>
        {{training_slot.start|date:"l j F"|capfirst}}</br>
        {{training_slot.start|date:"H:i"}} - {{training_slot.end|date:"H:i"}}
    </p>
    <p>
        <i class="bi bi-cash"></i> {{training.full_price|price_format}}</br>
        <small>({% trans "The payment will be made on site" %})</small>
    </p>
</div>

<form action="." method="POST">
    {% csrf_token %}
    {% include "forms/base_submit_button.html" with submit_btn="Register" %}
</form>

{% endblock content_form %}