{% extends "forms/base_forms.html" %}
{% load i18n %}

{% block content_form_img %}
    <i class="bi bi-calendar-check mb-5 img-form-logo mx-auto d-block"></i>
{% endblock %}

{% block content_form %}
<h1>{% trans "Registration" %} : {{training.title}}</h1>
<h3>{{training_slot.start|date:"l j F Y"}} {% trans " from " %} {{training_slot.start|date:"H:i"}} {% trans "to" %} {{training_slot.end|date:"H:i"}}</h3>
{% include 'trainings/info.html' %}

<form action="." method="POST">
    {% csrf_token %}
    {% include "forms/base_submit_button.html" with submit_btn="Register" %}
</form>

{% endblock content_form %}