{% extends "forms/base_forms.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block content_form_img %}
<i class="bi bi-calendar-x mb-5 img-form-logo mx-auto d-block text-red"></i>
{% endblock %}

{% block content_form %}
<div class="text-center">
    <h3> {% blocktrans with title=object.training.title  %} Do you want to delete the training {{title}}{% endblocktrans %}</h3>
    <p>{{format_info_datetime}}</p>
</div>
<form action={% url 'fabcal:trainingslot-delete' object.pk %} method="POST">
    {% csrf_token %}
    {% include "forms/base_submit_button.html" with submit_btn="Yes, I'm sure" %}
</form>

{% endblock content_form %}