{% load i18n fabcal_tags interlab_tags %}

<h1>
    {% trans "This week" %}
</h1>
<p>
    {% trans "⚠️ Be careful: Our schedule changes every week" %}
</p>

<div class="my-5" style="max-width: 340px;">
    {% for weekday in weekdays %}
        <div class="row">
            <div class="col-3">
                {% trans weekday|capfirst %}
            </div>
            <div class="col-9 p-0">
                <div class="col pb-0">
                    {% if slots|get_item:weekday %}
                        {% for slot in slots|get_item:weekday %}
                            {% if slot.opening.is_public or request.user|has_group:"superuser" %}
                                {{ slot.start|date:"H:i" }} - {{ slot.end|date:"H:i" }} </br>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% trans "Closed" %}
                    {% endif %} 
                </div>
                <div class="col py-0">
                    {% for slot in slots|get_item:weekday %}
                        {% if slot.opening.is_public or request.user|has_group:"superuser" %}
                            <button type="button" class='badge' data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{slot.opening.desc}}"
                            style="color:{{slot.opening.color}};background-color:{{slot.opening.background_color}}">
                                {{ slot.opening.title }}
                            </button > </br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
