{% extends 'forms/base_forms.html' %}
{% load i18n %}


{% block content_form_img %}
<i class="bi bi-exclamation-circle-fill mb-5 img-form-logo mx-auto d-block text-red"></i>
{% endblock content_form_img %}


{% block content_form %}
<h3 class="text-center">{% trans "Whoops ! Bad request." %}</h3>
<p>{% trans "If this error recurs, please contact us :" %}</p>
<a href="mailto:{{request.environ.EMAIL_HOST_USER}}">{{request.environ.EMAIL_HOST_USER}}</a>

<div class="row text-center align-items-center my-5">
    <div class="col">
        <a class="btn btn-primary" href="/">{% trans 'Home page' %} </a>
    </div>
</div>

{% endblock %} 