{% load static %}
{% load i18n cms_tags sekizai_tags menu_tags %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html class="{% block html_class %}{% endblock %}">

<head>
    <meta charset="utf-8">
    <title>{% block title %}FabLab | La Chaux-de-Fonds{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{% static 'src/img/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'src/img/favicon.png' %}" />

    {% render_bundle 'app' 'css' %}
    {% render_block "css" %}
    {% block header %}{% endblock header %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <div class="d-none d-sm-block  btn-feedback">
        <a class="btn btn-blue" href="https://feedback.userreport.com/15947d49-babf-4ef1-a0e7-5b24e42b0c7b/">Feedback &nbsp; <i class="bi bi-arrow-right-square"></i></a>
    </div>
    {% cms_toolbar %}
    {% block navbar-header %} {% include 'navbar-header.html' %} {% endblock navbar-header %}
    <div class="container">
        {% include 'alerts.html' %}
        {% block content %} {% endblock content %}
    </div>
    
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row py-4">
                {% include 'forms/newsletter.html' with form=newsletter_form %}
            </div>
            <hr>
            {% static_placeholder 'footer' %}
        </div>    
    </footer>

    {% block menu-mobile %} {% include 'menu-mobile.html' %} {% endblock menu-mobile %}

    {% endblock footer %}


    {% render_bundle 'app' 'js' %}
    {% render_block "js" %}
    {% block js_footer %}{% endblock js_footer %}
</body>

</html>