{% load cms_tags static sekizai_tags menu_tags %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}FabLab | La Chaux-de-Fonds{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" href="{% static 'src/img/favicon.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'src/img/favicon.png' %}" />

        {% render_bundle 'app' 'css' %}
        {% render_block "css" %}
        {% block header %}{% endblock header %}
    </head>
    <body>
        {% cms_toolbar %}
        {% include 'header.html' %}
        <div class="container">
            {% block content %}{% endblock content %}
          </div>          
        {% include 'menu-mobile.html' %}
        {% render_bundle 'app' 'js' %}
        {% render_block "js" %}
        {% block js_footer %}{% endblock js_footer %}
    </body>
</html>
