{% load i18n interlab_tags %}

<nav class="navbar fixed-bottom d-md-none">
    <div class="btn-group navbar-mobile shadow rounded-pill" role="group" aria-label="Button group with nested dropdown">

        <a href="/" role="button" class="btn btn-mobile-navbar btn-lg" style="width: 74px;">
            <i class="bi bi-house-door"></i>
            <div>{% trans "Home" %}</div>
        </a>

        <a href="/schedule" role="button" class="btn btn-mobile-navbar btn-lg" style="width: 60px;">
            <i class="bi bi-calendar-week"></i>
            <div>{% trans "Schedule" %}</div>
        </a>

        <button type="button" class="btn btn-mobile-navbar btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 96px;">
            <i class="bi bi-calendar-event"></i>
            <div>{% trans "Reservation" %}</div>
        </button>

        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" role="button" class="btn btn-mobile-navbar btn-lg" style="width: 108px;">
            <i class="bi bi-person-circle"></i>
            <div>{% trans "My account" %}</div>
        </a>
        {% else %}
        <a href="{% url 'login' %}" role="button" class="btn btn-mobile-navbar btn-lg" style="width: 80px;">
            <i class="bi bi-box-arrow-in-right"></i>
            <div>{% trans "Login" %}</div>
        </a>
        {% endif %}
</nav>

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog position-fixed m-0">
    <div class="modal-content position-fixed bottom-0 fs-2">
        <div class="modal-header">
            <button class="ms-auto" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></button>
        </div>
        <div class="modal-body text-end pb-5">
            
            <div class="row">
                <div class="col">
                    <a class="text-blue" href="/events/">{% trans "Events" %} <i class="bi bi-arrow-right-square"></i></a>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <a class="text-blue" href="/trainings/">{% trans "Trainings" %} <i class="bi bi-arrow-right-square"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a class="text-blue" href="/machines/">{% trans "Machines" %} <i class="bi bi-arrow-right-square-fill"></i></a>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>
{% endblock modal %}