<nav class="navbar fixed-bottom ">
    <div class="container">
        <div class="btn-group navbar-mobile" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary btn-lg">
                <i class="bi bi-house"></i>
            </button>

            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#calendar-menu">
                <i class="bi bi-calendar"></i>
            </button>

            <button type="button" class="btn btn-primary btn-lg"><i class="bi bi-person"></i></button>
        </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="calendar-menu" tabindex="-1" aria-labelledby="calendar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-mobile">
        <div class="modal-content">
            <div class="modal-body d-grid gap-2 col-12 mx-auto">
                <button type="button" class="btn btn-primary btn-text-left btn-lg my-2">
                    <div class="row">
                        <div class="col-2 d-flex align-items-center"><i class="bi bi-calendar-week"></i></div>
                        <div class="col-10">Ouvertures</div>
                    </div>
                </button>
                <button type="button" class="btn btn-primary btn-text-left btn-lg my-2">
                    <div class="row">
                        <div class="col-2 d-flex align-items-center"><i class="col-1 bi bi-calendar-plus"></i></div>
                        <div class="col-10">Réserver une machine</div>
                    </div>
                </button>
                <button type="button" class="btn btn-primary btn-text-left btn-lg my-2">
                    <div class="row">
                        <div class="col-2 d-flex align-items-center"><i class="bi bi-calendar-event"></i></div>
                        <div class="col-10">Évènements</div>
                    </div>
                </button>
                <button type="button" class="btn btn-primary btn-text-left btn-lg my-2">

                    <div class="row">
                        <div class="col-2 d-flex align-items-center"><i class="bi bi-calendar-check"></i> </div>
                        <div class="col-10">Formation</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>