{% load static %}
{% load i18n interlab_tags %}

<nav class="navbar navbar-header navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="scale-up" src="{% static 'src/img/logo-FL-red.svg' %}" alt="" height="60px">
        </a>
        <div class="collapse navbar-collapse d-none d-md-block">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-3">
                    <a class="nav-link nav-link-header" aria-current="page" href="/schedule">{% trans "Schedule" %}</a>
                </li>
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle nav-link-header" href="#" id="reservation" role="button"
                    data-bs-toggle="dropdown", aria-expanded="false">
                    {% trans "Reservation" %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="reservation">
                    <li><a class="dropdown-item" href="/machines/">{% trans "Machines" %}</a></li>
                    <li><a class="dropdown-item" href="/trainings/">{% trans "Trainings" %}</a></li>
                    <li><a class="dropdown-item" href="/events/">{% trans "Events" %}</a></li>
                </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mx-3">
                    <a class="nav-link nav-link-header" aria-current="page" href="/accounts/profile">{% trans "My account" %}</a>
                </li>
                {% else %}
                <li class="nav-item mx-3">
                    <a class="btn btn-primary nav-btn-header" aria-current="page"
                        href="/accounts/login">{% trans "Login" %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>