{% load i18n interlab_tags %}

{% for post in object_list %}
    <div class="col-6 col-md-4 col-lg-3 grid-item">

    <div class="row">
        <div class="col">
            {% if post.url %}<a href="{{post.url}}" class="text-blue">{% endif %}
            <p class="mb-0">
                {{post.title}}
                {% if post.url %}<i class="bi bi-box-arrow-up-right"></i>{% endif %}
            </p> 
            {% if post.url %}</a>{% endif %}
        </div>
        {% if request.user|has_group:"superuser" %}
        <div class="col-4 text-end">
            {% if request.user.profile == post.profile %}
                <a class="btn btn-link p-0" href="{% url 'post_delete' post.pk%}"><i class="bi bi-trash3"></i></a>
                <a class="btn btn-link p-0 text-blue" href="{% url 'post_update' post.pk%}"><i class="bi bi-pencil-square"></i></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if post.url %}<a href="{{post.url}}">{% endif %}
        <img class="card-img rounded" src="{{post.img.url}}" alt="{{post.title}}">
    {% if post.url %}</a>{% endif %}

    <div class="text-end">
        {% if post.profile.public_contact_plateform %}
        <i class="bi bi-{{post.profile.public_contact_plateform}}"></i> {{post.profile.public_contact}}
        {% endif %}
    </div>
</div>

{% endfor %}