{% load i18n interlab_tags %}

{% for post in object_list %}

{% if forloop.last and page_obj.has_next %}
    <div class="col-6 col-md-4 col-lg-3 grid-item"
        hx-get="{% url 'post_list' %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed" hx-swap="afterend"
        hx-target="this">
{% else %}
    <div class="col-6 col-md-4 col-lg-3 grid-item">
{% endif %}

    <div class="row">
        <div class="col">
            <p class="mb-0">{{post.title}}</p>
        </div>
        {% if request.user|has_group:"superuser" %}
        <div class="col-3 text-end">
            <a class="btn btn-link p-0" href="{% url 'post_delete' post.pk%}"><i class="bi bi-trash3"></i></a>
        </div>
        {% endif %}
    </div>
    <img class="card-img rounded" src="{{post.img.url}}" alt="{{post.title}}">
    <div class="text-end">
        {% if post.profile.discord %}
        <i class="bi bi-discord"></i> {{post.profile.discord}}
        {% endif %}
    </div>
</div>

{% endfor %}