{% load i18n interlab_tags %}

{% if request.user.organizations_organization.first %}
{% load org_tags %}
{% if request.user.organizations_organization.first|is_owner:user %}
<a class="px-0 text-blue" href="{% url 'organization_detail' request.user.organizations_organization.first.pk %}">
    <div class="row">
        <div class="col-12 py-0">
            <div class="row fs-4">
                <div class="col-10 py-0">
                    {% trans "My subscription" %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-0">
                    <p>{% trans "Manage subscription members" %}</p>
                </div>
            </div>

        </div>
    </div>
</a>
<hr>
{% endif %}
{% endif %}


<a class="px-0 text-blue" href="{% url 'edit-profile' %}">
    <div class="row">
        <div class="col-12 py-0">
            <div class="row fs-4">
                <div class="col-10 py-0">
                    <i class="bi bi-person-fill pe-2"></i> {% trans "My profile" %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-0">
                    <p>{% trans "name"|capfirst %}, {% trans "email" %}, {% trans "password" %},
                        {% trans "delete account" %}</p>
                </div>
            </div>
        </div>
    </div>
</a>
<hr>
<a class="px-0 text-blue" href="/accounts/logout">
    <div class="row">
        <div class="col-12 pt-0">
            <div class="row fs-4">
                <div class="col-10">
                    {% trans "Logout" %}
                </div>
                <div class="col-2 text-end">
                    <i class="bi bi-box-arrow-right pe-2"></i> 
                </div>
            </div>
        </div>
    </div>
</a>
{% if request.user|has_group:"superuser" %}
<hr class="text-red">
<a class="px-0" href="{% url 'user-list' %}">
    <div class="row">
        <div class="col-12 py-0">
            <div class="row fs-4">
                <div class="col-10 py-0">
                    <i class="bi bi-people-fill pe-2"></i> {% trans "Users" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-0">
                    <p>{% trans "training validation"|capfirst %}, {% trans "subscription" %}</p>
                </div>
            </div>
        </div>
    </div>
</a>
<hr class="text-red">
<a class="px-0" href="{% url 'fabcal:machine-reservation-future' %}">
    <div class="row">
        <div class="col-12 py-0">
            <div class="row fs-4">
                <div class="col-10 py-0">
                    <i class="bi bi-calendar-week-fill pe-2"></i> {% trans "Reservations" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-0">
                    <p>{% trans "Future and past reservations"%}</p>
                </div>
            </div>
        </div>
    </div>
</a>
{% endif %}