{% extends "base.html" %}
{% load i18n org_tags %}

{% block content %}
<div class="row">
    <div class="col-md-4 py-5 d-none d-md-block">
        {% include 'accounts/nav.html' %}
    </div>
    <div class="col-md-8 py-5 text-center">
        
    {% include 'accounts/user-summary.html' %}
    {% if not user.profile.subscription %}
    <a href="#" class="my-5">
        <button class="btn btn-primary mt-5">
            Voir les abonements
        </button>
    </a>
    {% endif %}

    </div>
    <div class="col-md-4 py-5 d-md-none">
        <hr>
        {% include 'accounts/nav.html' %}
    </div>
</div>

{% endblock content %}