{% load i18n %}

<div class="row">
    <div class="col">
        <h5>{% trans "Reservations" %}</h5>
        {% for reservation in slot.get_reservation_list %}
        <a class="text-blue" href="{% url 'accounts:superuser-profile-edit' reservation.user.pk %}">
            <div class="row">
                <div class="col-3 col-md-2">
                    {%include 'accounts/avatar.html' with user=reservation.user%}
                </div>
                <div class="col-9 my-auto">
                    {{reservation.user.first_name}} {{reservation.user.last_name}} <br>
                    {{reservation.start|date:"H:i"}} - {{reservation.end|date:"H:i"}}:
                    {{reservation.machine.title}} 
                </div>
            </div>
        </a>
        {% empty %}
        {% trans "No reservations for the moment" %}
        {% endfor %}
    </div>
</div>