{% extends "forms/base_forms.html" %}
{% load i18n %}

{% block content_form_img %}
<i class="bi bi-person-x-fill mb-5 img-form-logo mx-auto d-block text-red"></i>
{% endblock %}

{% block content_form %}
<h2>{% trans "Are you sure you want to delete your account ?" %}</h2>

<form action="." method="POST">
  {% csrf_token %}
  {% include "forms/base_submit_button.html" with submit_btn="Yes, I'm sure" %}
</form>

<div class="text-center mt-5 text-red">
  <a href="profile/delete_done"></a>
</div>
    
{% endblock content_form %}