{% load i18n %}

{% if user.first_name %}
<img src="https://eu.ui-avatars.com/api/?rounded=true&name={{user.first_name}}+{{user.last_name}}&color=fff&background=0b1783"
    class="img my-2" alt="avatar"> </br>
<h1> {{ user.first_name }} {{ user.last_name }} </h1>
{% else %}
<img src="https://eu.ui-avatars.com/api/?rounded=true&name={{user.username}}&color=fff&background=0b1783"
    class="img my-2" alt="avatar"> </br>
<h1> {{ user.username }} </h1>
<p>{{ user.email }}</p>
{% endif %}

<p> 
<small>
{% if user.profile.subscription %}
    {{ user.profile.subscription.subscription_category.title }} {% trans "valid until" %}
    {{ user.profile.subscription.end|date:'d.m.Y' }} </br>

    {% if organization %}
        {% load org_tags %}
        {% if organization|is_owner:user %}
            {% trans 'You are the owner of the subscription' %} {{organization.name}}</br>
        {% else %}
            {% trans 'The owner of the subscription' %} {{organization.name}} {% trans 'is' %}
            {{organization.owner.organization_user.name}}</br>
        {% endif %}
    {% endif %}
    </small> </p>
{% endif %}