{% extends 'forms/base_forms.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content_form_img %}
<i class="bi bi-key mb-5 img-form-logo mx-auto d-block icon-135"></i>
{% endblock %}

{% block content_form %}
<h2 class='text-center mb-5'>{% trans "Forgotten your password?" %}</h2>

<form method="POST">
  {% csrf_token %}

  <div id="div_id_email" class="mb-3"> <label for="id_email" class="form-label requiredField">
    {% trans 'Your email address' %}  
    <span class="asteriskField">*</span> </label> <input type="email" name="email" autocomplete="email"
      maxlength="254" class="emailinput form-control" required="" id="id_email"> </div>

  <div class="row text-center align-items-center my-5">
    <div class="col">
      <a href="{{request.META.HTTP_REFERER}}">{% trans 'Whoops, no !' %} </a>
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit">{% trans "Reset it" %}</button>
    </div>
  </div>

</form>
{% endblock %}