{% extends 'forms/base_forms.html' %}
{% load i18n %}

{% block content_form_img %}
<i class="bi bi-envelope mb-5 img-form-logo mx-auto d-block"></i>
{% endblock %}

{% block content_form %}
<h2>{% trans "Email with password reset instructions has been sent." %}</h2>

<p>{% trans "If you do not receive a message, check that you have entered the address you registered with and check your spam folder." %}
</p>

<div class="d-grid gap-2">
    <a href="/" class="btn btn-primary" type="button">{% trans "Home page" %}</a>
</div>

{% endblock %}