{% extends 'forms/base_forms.html' %}
{% load i18n %}

{% block content_form_img %}
<i class="bi bi-check-circle-fill mb-5 img-form-logo mx-auto d-block text-success"></i>
{% endblock %}

{% block content_form %}

<p>{% trans "Password reset successfully" %}</p>

<div class="row text-center align-items-center my-5">
    <div class="col">
        <a href="/">{% trans 'Home page' %} </a>
    </div> 
    <div class="col">
        <a href="{% url 'accounts:login' %}">
            <button class="btn btn-primary mx-auto" type="submit">{% trans "Log in" %}</button>
        </a>
        </form>
    </div>
</div>

{% endblock %}