{% extends 'forms/base_forms.html' %}
{% load i18n %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} / <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>{% endblock %}

{% block content_form_img %}
{% include 'forms/forms_success.html' %} 
{% endblock %}

{% block content_form %}
<h2>{% translate 'Your password was changed.' %}</h2>
<div class="d-grid">
    <a class="btn btn-primary my-4" href="/accounts/profile" role="button">{% trans "My account" %}</a>
</div>
{% endblock %}