{% extends 'forms/base_forms.html' %}
{% load crispy_forms_tags %} 
{% load i18n %}

{% block content_form_img %}
<i class="bi bi-key mb-5 img-form-logo mx-auto d-block icon-135"></i>
{% endblock %}

{% block content_form %}

{% if validlink %}

<form method="post" action=".">
  <h2 class='text-center mb-5'>{% trans "Set a new password" %}</h2>
  {% csrf_token %}
  {{ form | crispy}}
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">{% trans "Change my password" %}</button>
  </div>
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %} 