<div class="mb-3">
    <div class="form form-check-inline form-check-btn my-1">
        <label for="{{ form.machines.id_for_label }}">{{ form.machines.label_tag }}</label>
        <br>
        {% for field in form.machines %}
        <input  id="{{field.id_for_label}}" name="{{form.machines.name}}" type="checkbox"
            value="{{field.data.value.instance.pk}}" class="btn-check" autocomplete="off"
            {% if field.data.value.instance.pk in form.initial.machine or request.resolver_match.url_name == 'openingslot-create' %} checked="checked" {% endif %}
            />
        <label for="{{field.id_for_label}}"
            class="btn btn-outline-secondary rounded-pill m-2"> {{ field.data.value.instance.title }}</label>
        {% endfor %}
    </div>
</div>