{% load i18n crispy_forms_tags %}

<form hx-post="newsletter">
    {% csrf_token %}
    <div class="row">
        <div class="col text-center">
            <h4>{% trans 'Subscribe to the newsletter to follow the FabLab news' %}</h4>
            <span>{% trans 'about once a month' %}</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 pt-4">
            <input type="email" name="email"
                class="form-control{% if form.success == True %} is-valid{% elif form.success == False %} is-invalid{% endif %}"
                placeholder="{% trans 'Your email address' %}" aria-describedby="newsletterRegisteredFeedback"
                required="required">
            {% if form.errors %}
            <div id="newsletterRegisteredFeedback" class="invalid-feedback">
                {% for field in form %}
                {% for error in field.errors %}
                <strong>{{ error | escape }}</strong>
                {% endfor %}
                {% endfor %}
            </div>
            {% elif form.success == True %}
            <div id="newsletterRegisteredFeedback" class="valid-feedback">
                <strong>{% trans 'Thank you !' %}</strong>
            </div>
            {% endif %}
        </div>
        <div class="d-grid gap-2 col-md-2 py-4">
            <input type="submit" class="btn btn-secondary" {% if form.success == True %}disabled="disabled" {% endif %}
                value="{% trans 'Sign up' %}">
        </div>
    </div>
</form>