{% extends "email/base_email.html" %}
{% load i18n %}

{% block content %}
<p> Hello {{request.user.first_name}}, </p> 
<p>{%trans "We confirme that you are register for the event" %} 
    <a href="{{href}}">"{{event_slot.event.title}}"</a> 
    {% trans "which will take place " %}
    {% if event_slot.is_single_day %}
        {% trans "on" %}
        {{event_slot.start|date:"l j F Y"}} {% trans "From" %} {{event_slot.start|date:"H:i"}} {% trans "to" %} {{event_slot.end|date:"H:i"}}
    {% else %}
        {% trans "From" %} {{event_slot.start|date:"l j F Y"}} {% trans "at" %} {{event_slot.start|date:"H:i"}} {% trans "to" %} {{event_slot.start|date:"l j F Y"}} {% trans "at" %} {{event_slot.end|date:"H:i"}}
    {% endif %}
</p>

<p>
    {% trans "The payment will be made on site" %}
</p>

{% endblock content %}