{% extends "email/base_email.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with first_name=first_name date=training_slot.start|date:"l j F Y" start=training_slot.start|date:"H:i" end=training_slot.end|date:"H:i" title=training_slot.training.title training_absolute_url=training_absolute_url%}
<p> Hello {{first_name}}, </p> 
<p>We have planned a new training "{{title}}" which will take place on {{date}} from {{start}} to {{end}}</p>

<div class="btn btn-primary text-center my4">
    <a href="{{training_absolute_url}}">Subscribe to the training</a>
</div>

<p>Payment can be made on site by credit card or in cash.</p>
<p>We look forward to seeing you at the training!</br>
The FabLab La Chaux-de-Fonds team</p>
{% endblocktrans %}

{% endblock content %}