{% load i18n training_extras %}

<div class="row mb-4">

    <div class="col-6 col-sm-4">
        <div class="row">
            <div class="col-4 text-end pe-0">
                <h4><i class="bi bi-cash"></i></h4>
            </div>
            <div class="col-8 ">
                <h4>{% trans "Price" %}</h4>
                <p>{{training.full_price|price_format}} {% if training.includ_free_machine_voucher %}*{% endif %}</p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4">
        <div class="row">
            <div class="col-4 text-end pe-0">
                <h4><i class="bi bi-clock"></i></h4>
            </div>
            <div class="col-8 ">
                <h4>{% trans "Duration" %}</h4>
                <p>{{training.duration|duration_format}}</p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4">
        <div class="row">
            <div class="col-4 text-end pe-0">
                {% if training.level == 'BEG' %}
                    <h4><i class="bi bi-bar-chart"></i></h4>
                {% else %}
                    <h4><i class="bi bi-bar-chart-fill"></i></h4>
                {% endif %}
            </div>
            <div class="col-8 ">
                <h4>{% trans "Level" %}</h4>
                <p>{{training.level|level_format}}</p>
            </div>
        </div>
    </div>

    {% if training.includ_free_machine_voucher %}* {% trans "the training + 1 voucher of 1h machine to practice" %}{% endif %}
</div>