{% extends "base.html" %}
{% load i18n training_extras %}

{% block title %}{{block.super}} - {{training.title}} {% endblock %}

{% block content %}

<div class="row">
    <h2 class="text-red">{{training}}</h2>
    <div class="d-md-none"> {%include 'trainings/show_img.html'%} </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>{{ training.header | safe }}</h3>
        <div class="d-md-none d-md-block">
            {% include 'trainings/info.html' %}
            {% include 'trainings/show_next_trainings.html' %}
            <h3> {% trans "Description" %} </h3>
        </div>

        <p>{{training.description}}</p>

        <div class="row mb-4">
            <div class="col">
                <div class="accordion">
                    {% for faq in training.faq_list %}
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panel-{{faq.pk}}">
                                {{faq.question|upper}}
                            </button>
                        </h3>
                        <div id="panel-{{faq.pk}}" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {{faq.answer}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- TODO: Section machines associées:
            - récupérer avec une query les machines qui ont la même machine_category que le training
            - réutiliser l'affichage utilisé pour la liste de formations
            - ajouter un lien vers le support de formation pour chaque
            - implémenter un scroll horizontal (je sais pas comment faire, mais ça devrait être faisable en CSS)
        -->

        <div class="row mb-4">
            <h3> {% trans "Machines" %}</h3>

            {% if machines %}
            {% for machine in machines %}
            {% include 'machines/card.html' %}
            {% endfor %}
            {% else %}
            <div class="col">
                <p>{% trans "Sadly, no machine currently available." %}</p>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6">

        <div class="d-none d-md-block">{%include 'trainings/show_img.html'%}</div>
        <div class="d-none d-md-block">
            {% include 'trainings/info.html' %}
            {% include 'trainings/show_next_trainings.html' %}
        </div>

        
    </div>

    <div class="row">
        <h3> {% trans "Support and tools" %} </h3>
        {% for tool in tools %} 
        <div class="text-center col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card card-tool h-100">
                <img src="{{tool.icon.url}}" class="card-img-top px-5" alt="{{tool.title}}">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{tool.title}}</h5>
                  <p class="card-text my-auto py-2">{{tool.description}}</p>
                  <a href="{{tool.link}}" class="btn btn-secondary mt-auto">{{tool.link_text}}</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}